<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professional CV </title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <!--Header section-->
<header> Welcome to my Professional CV
     </header>
    <main>
        <h1>Summary</h1>
     <section> 